<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="socialhour.socialhour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppTheme" -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".frontend_activity"
            android:label="@string/title_activity_frontend_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".add_event"
            android:label="@string/title_activity_add_event"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".add_event_activity"
            android:label="@string/title_activity_add_menu_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".settings_activity"
            android:label="@string/title_activity_settings_activity" />
        <activity android:name=".add_friends_activity">
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/friend_searchable" />
        </activity>
    </application>

</manifest>